.DS_Store
logs
node_modules
server/views-js
server/node_modules
client/node_modules
server/.build
server/public/apps/**
api/node_modules
api/.build
!server/public/apps/.gitkeep
build
config/lastcommit*
public/js/build/**
db/localbackups
dump.rdb
tmp
.build
rev-manifest.json
