.is-primary.input:focus,
.is-primary.textarea:focus,
.is-primary.is-focused.input,
.is-primary.is-focused.textarea,
.is-primary.input:active,
.is-primary.textarea:active,
.is-primary.is-active.input,
.is-primary.is-active.textarea {
	box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.is-link.input,
.is-link.textarea {
	border-color: #3273dc;
}

.is-link.input:focus,
.is-link.textarea:focus,
.is-link.is-focused.input,
.is-link.is-focused.textarea,
.is-link.input:active,
.is-link.textarea:active,
.is-link.is-active.input,
.is-link.is-active.textarea {
	box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.is-info.input,
.is-info.textarea {
	border-color: #209cee;
}

.input:focus,
.textarea:focus,
.is-focused.input,
.is-focused.textarea,
.input:active,
.textarea:active,
.is-active.input,
.active.input,
.is-active.textarea,
.active.textarea {
	box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.2);
}

.is-info.input:focus,
.is-info.textarea:focus,
.is-info.is-focused.input,
.is-info.is-focused.textarea,
.is-info.input:active,
.is-info.textarea:active,
.is-info.is-active.input,
.is-info.is-active.textarea {
	box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.2);
}

.is-success.input,
.is-success.textarea {
	border-color: #23d160;
}
.correct .input:focus,
.correct .textarea:focus,
.correct .is-focused.input,
.correct .is-focused.textarea,
.correct .input:active,
.correct .textarea:active,
.correct .is-active.input,
.correct .is-active.textarea,
.is-success.input:focus,
.is-success.textarea:focus,
.is-success.is-focused.input,
.is-success.is-focused.textarea,
.is-success.input:active,
.is-success.textarea:active,
.is-success.is-active.input,
.is-success.is-active.textarea {
	box-shadow: 0 0 0 0.125em rgba(35, 209, 96, 0.2);
}

.is-warning.input,
.is-warning.textarea {
	border-color: #ffdd57;
}

.is-warning.input:focus,
.is-warning.textarea:focus,
.is-warning.is-focused.input,
.is-warning.is-focused.textarea,
.is-warning.input:active,
.is-warning.textarea:active,
.is-warning.is-active.input,
.is-warning.is-active.textarea {
	box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.2);
}

.is-danger.input,
.is-danger.textarea {
	border-color: #ff3860;
}

.is-danger.input:focus,
.is-danger.textarea:focus,
.is-danger.is-focused.input,
.is-danger.is-focused.textarea,
.is-danger.input:active,
.is-danger.textarea:active,
.is-danger.is-active.input,
.is-danger.is-active.textarea {
	box-shadow: 0 0 0 0.125em rgba(255, 56, 96, 0.2);
}

.tags {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.tags .tag {
	margin-bottom: 0.5rem;
}

.tags .tag:not(:last-child) {
	margin-right: 0.5rem;
}

.tags:last-child {
	margin-bottom: -0.5rem;
}

.tags:not(:last-child) {
	margin-bottom: 1rem;
}

.tags.has-addons .tag {
	margin-right: 0;
}

.tags.has-addons .tag:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.tags.has-addons .tag:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.tags.is-centered {
	justify-content: center;
}

.tags.is-centered .tag {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.tags.is-right {
	justify-content: flex-end;
}

.tags.is-right .tag:not(:first-child) {
	margin-left: 0.5rem;
}

.tags.is-right .tag:not(:last-child) {
	margin-right: 0;
}

.tags.inline {
	display: inline-flex;
}

.tag.is-not-rounded:not(body) {
	border-radius: 4px;
	display: inline-flex;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	padding-left: 0.75em;
	padding-right: 0.75em;
	white-space: nowrap;
}

.tag:not(body).is-white {
	background-color: #fff;
	color: #0a0a0a;
}

.tag:not(body).is-black {
	background-color: #0a0a0a;
	color: #fff;
}

@media screen and (min-width: 769px) {
	.account-settings {
		.field-body {
			padding-right: 50px;
		}
		.field-label {
			flex-grow: 1.7;
		}
	}
}

.is-dark {
	.button.is-link {
		font-family: 'Roboto', sans-serif;
		color: #fff;
		&:hover,
		&:active,
		&:focus {
			background: none;
		}
	}
	.input {
		background: #2b2b2b;
		color: white;
	}
	.label {
		color: #fff;
	}
}
